.profile {
  background-color: #202020;
  max-width: 100%;
  height: 100vh;
}

.profile__wrapper {
  display: grid;
  align-items: center;
  justify-content: center;
  padding: 74px 0 70px;
}

.profile__title {
  margin: 0;
  font-weight: 500;
  font-size: 24px;
  line-height: 29px;
  text-align: center;
}

.profile__form-edit {
  display: flex;
  flex-direction: column;
  margin: 123px 0 220px;
}

.profile__form-wrapper {
  width: 410px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.profile__form-wrapper:first-child {
  border-bottom: 1px solid rgba(66, 66, 66, 1);
  padding-bottom: 16px;
}

.profile__form-wrapper:nth-child(2) {
  padding-top: 16px;
}

.profile__form-input {
  height: 27px;
  border: none;
  font-weight: 400;
  font-size: 14px;
  line-height: 17px;
  background-color: transparent;
  color: #fff;
  padding: 0;
  text-align: end;
}

.profile__btn-wrapper {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.profile__btn {
  width: 113px;
  background-color: transparent;
  color: #fff;
  padding: 0;
  font-weight: 400;
  font-size: 13px;
  line-height: 16px;
  border: none;
  cursor: pointer;
  padding-bottom: 16px;
}

.profile__btn:hover {
  opacity: .6;
}

.profile__btn_logout {
  color: #EE3465;
  font-weight: 500;
}

.profile__btn_save {
  align-self: center;
  padding: 100px 0 10px;
}

.profile__btn_save:disabled {
  color: red;
}

.profile__form-error {
  min-height: 12px;
  font-weight: 400;
  font-size: 10px;
  line-height: 12px;
  color: #FF0000;
  margin: 5px 0 7px;
  opacity: 0;
}

.profile__form-error_active {
  opacity: 1;
}

@media screen and (max-width: 500px) {
  .profile__form-wrapper {
    width: 260px;
  }

  .profile__form-edit {
    margin: 80px 0 279px;
  }

  .profile__form-input {
    font-size: 11px;
    line-height: 13px;
  }

  .profile__btn {
    font-size: 12px;
    line-height: 15px;
  }
}
