.header {
  font-family: "Inter", "Arial", sans-serif;
  max-width: 100%;
  height: 74px;
  padding: 0 70px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: #073042;
}

.header_black {
  background-color: #202020;
}
